<article class="flex flex-col sm:flex-row w-full h-full">

  <div class="flex justify-center align-center w-full py-5 ">
    <h1 class="text-5xl font-bold self-center">Agregar barbero</h1>
  </div>

  <form class="rounded px-8 py-12 mb-4 w-full h-full">
    <div class="mb-4 w-full shadow-sm py-2">
      <app-label-form forLabel="Nombre" />
      <app-input-form placeHolder="Nombre" inputType="text" class="w-full"/>
    </div>

    <div class="mb-4 w-full shadow-sm py-2">
      <app-label-form forLabel="Apellido" />
      <app-input-form placeHolder="Apellido" inputType="text" />
    </div>

    <div class="mb-4 w-full shadow-sm py-2">
      <app-label-form forLabel="Teléfono" />
      <app-input-form placeHolder="Teléfono" inputType="text" />
    </div>

    <div class="mb-4 w-full shadow-sm py-2">
      <app-label-form forLabel="Correo" />
      <app-input-form placeHolder="Correo" inputType="text" />
    </div>

    <div class="mb-4 w-full shadow-sm py-2">
      <app-label-form forLabel="Hora Entrada" />
      <app-input-form inputType="time" />
    </div>

    <div class="mb-4 w-full shadow-sm py-2">
      <app-label-form forLabel="Hora salida" />
      <app-input-form inputType="time" />
    </div>

    <div class="mb-4 w-full shadow-sm py-2">
      <app-button-form label="Enviar" />
    </div>
    </form>
</article>





