<article class="flex flex-col sm:flex-row w-full h-full justify-center items-center">

  <div class=" w-full h-full m-5 flex justify-center items-center">
    <h1 class="text-5xl font-bold self-center">Agregar barbero</h1>
  </div>

  <form [formGroup]="barberoForm" (ngSubmit)="onSubmit()"
    class="rounded px-8 py-12 mb-4 w-full h-full bg-blue-300 flex flex-col items-center justify-center">
    <input type="text" formControlName="nombre" placeholder="Nombre"
      class="w-1/2 px-3 py-2 mb-5 border-2 border-blue-300 rounded focus:outline-none focus:border-blue-500 bg-white">

    <input type="text" formControlName="apellido" placeholder="Apellido"
      class="w-1/2 px-3 py-2 mb-5 border-2 border-blue-300 rounded focus:outline-none focus:border-blue-500 bg-white">

    <input type="text" formControlName="telefono" placeholder="Teléfono"
      class="w-1/2 px-3 py-2 mb-5 border-2 border-blue-300 rounded focus:outline-none focus:border-blue-500 bg-white">

    <input type="text" formControlName="correo" placeholder="Email"
      class="w-1/2 px-3 py-2 mb-5 border-2 border-blue-300 rounded focus:outline-none focus:border-blue-500 bg-white">

    <input type="text" formControlName="imagen" placeholder="Imagen"
      class="w-1/2 px-3 py-2 mb-5 border-2 border-blue-300 rounded focus:outline-none focus:border-blue-500 bg-white">

    <button type="submit" class="bg-blue-950 text-white font-bold italic px-5 py-2 rounded-xl">Enviar</button>
  </form>
</article>