@if (data.length === 0) {
<h2>No hay clientes</h2>
}@else {
@for(cliente of data; track cliente.id){
<div class="bg-white shadow-md rounded-lg overflow-hidden my-5">
    <div class="p-6">
        <!-- Secciones de información -->
        <div class="mb-6">
            <h2 class="text-lg font-medium text-gray-900 mb-2">Información básica</h2>
            <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
                <div>
                    <p class="text-sm text-gray-500">Nombre</p>
                    <p class="text-base text-gray-900">{{cliente.nombre}} {{cliente.apellido}}</p>
                </div>
                <div>
                    <p class="text-sm text-gray-500">Teléfono</p>
                    <p class="text-base text-gray-900">{{cliente.telefono}}</p>
                </div>
                <div>
                    <p class="text-sm text-gray-500">Correo</p>
                    <p class="text-base text-gray-900">{{cliente.correo}}</p>
                </div>
                <!-- Más campos aquí -->
            </div>
        </div>
    </div>
</div> 
}
}