<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-8">
  <!-- Encabezado de sección -->
  <div class="mb-8 flex justify-between items-center">
    <h1 class="text-2xl font-bold text-gray-900">Listado de Barberos</h1>
    <button [routerLink]="['/agregar-form']" routerLinkActive="router-link-active"  class="bg-blue-600 hover:bg-blue-700 text-white px-4 py-2 rounded-md">
      Agregar nuevo
    </button>
  </div>

  <!-- Filtros o búsqueda -->
  <div class="mb-6 p-4 bg-white rounded-lg shadow">
    <div class="flex gap-4">
      <input type="text" placeholder="Buscar..."
        class="flex-1 px-4 py-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500">
      <button class="bg-gray-100 hover:bg-gray-200 px-4 py-2 rounded-md">Filtrar</button>
    </div>
  </div>

  <!-- Tabla o grid de elementos -->
  <div class="bg-white shadow-md rounded-lg overflow-hidden">
    <app-lista-barberos/>
  </div>
</div>
