<h1 class="text-4xl m-2 p-2">Lista de barberos</h1>
<!-- @if (data.length > 0) {
<ul class="p-5">
    @for (barbero of data; track barbero.id) {
    <li class="p-2 shadow-2xl">{{barbero.nombre}} {{barbero.apellido}} - <span class="font-bold">Teléfono: {{barbero.telefono}}</span></li>
    }
</ul>
} @else {
<p>No hay barberos disponibles</p>
} -->

<div class="w-full flex justify-around flex-col sm:flex-row ">
    @for(barbero of data; track barbero.id){
    <app-barbero-card [barbero]="barbero" />   }
</div>

