@import url('https://fonts.googleapis.com/css2?family=Corinthia:wght@400;700&family=Lexend:wght@100..900&family=Oswald:wght@200..700&family=Special+Gothic+Condensed+One&display=swap');
@import "tailwindcss";
@import "primeicons/primeicons.css";

/*fuentes personalizadas*/
@theme {
  --font-corinthia: 'Corinthia', sans-serif;
  --font-lexend: 'Lexend', sans-serif;
  --font-oswald: 'Oswald', sans-serif,
}
